body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #161515;
    margin: 0;
}

h1{
    color: white;
}

.container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #10a718;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

#reset {
    padding: 10px 20px;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

#message {
    margin-top: 10px;
    font-size: 1.2em;
    color: white;
}
